<<<<<<< HEAD
<% @coupons.each do |coupon| %>
    <%= coupon.store %>
    <%= link_to coupon.coupon_code, coupon_path(coupon) %>
=======
<% @coupons.each do |coupon| %>
  <div><%= coupon.store %></div>
>>>>>>> 648e890874439e420258ba7d23033e72b04ac81a
<% end %>